---
import {SEO} from "astro-seo";
import Navigation from "@/components/Navigation.astro";
// const BACKEND_API = "https://test-subdomain.keyrunasir.com";
export const prerender = true;

export async function   getStaticPaths  () {
    const data = await fetch(`https://test-subdomain.keyrunasir.com/api/blog/fetchallblogs`)
    const response = await data.json();
    // console.log("res", response);
    return response.post.map((post)=>(
        {
            params:{
                id: post.id.toString()
            },
        }
    ));
};

const {id}= Astro.params;
let blog = null;

try {
    const data = await fetch(`https://test-subdomain.keyrunasir.com/api/blog/fetchoneblog/${id}`);
    const response = await data.json();
    if(response.success){
        blog = response.post;
        console.log("blog", blog)
    } else {
        blog = null;
    }

} catch (error) {
    blog = null;
    
}

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <meta name="description" content={blog.content} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <SEO
        title={blog ? blog.title : "No title found"}
        description={blog ? blog.content : "No content"}
        
         />
		<meta name="generator" content={Astro.generator} />
		<title>Tikur Azmud Blog</title>
	</head>
   <Navigation />
	<body>
		{
            blog ? <div class="flex flex-col border-[rgb(255,255,255,0.2)] border rounded w-[50%]  px-4 py-2 gap-4">
            <p>{
                blog.author
                }</p>
            <p>
                {
                    blog.title
                }
            </p>
            <p>
                {
                    blog.content
                }
            </p>
            <div class="flex flex-row gap-4">
                <button class="flex flex-row gap-2 border border-[rgb(255,255,255,0.2)] rounded px-2 py-1">
                    <span>{
                        blog.likes
                    }</span>
                    Likes</button>
                <button class="flex flex-row gap-2 border border-[rgb(255,255,255,0.2)] rounded px-2 py-1">
                    <span>{
                        blog.likes
                    }</span>
                    Views</button>
                <button class="flex flex-row gap-2 border border-[rgb(255,255,255,0.2)] rounded px-2 py-1">
                    <span>{
                        blog.shares
                    }</span>
                    Shares</button>
            </div>
        </div> : <div>No Blog found!</div>
        }
	</body>
</html>